@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'KCCChassam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    min-width: 1000px;
    margin: 0;
    background-color: #D8E1EA;
    font-family: 'Pretendard-Regular';
}
nav {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 1em 2em;
    background-color: white;
}
.logo {
    margin: auto;
    font-family: 'KCCChassam';
    font-weight: bold;
    font-size: 1.5em;
}
.content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 442px;
    height: 549px;
    background-color: white;
    border-radius: 15px;
    margin: 100px auto;
}
.title{
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 38px;
}
.content-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 226px;
    height: 49px;
    border-radius: 10px;
    background-color: #F1F4F7;
    border-style: none;
    margin-bottom: 20px;
}
input[type="email"], input[type="password"] {
    padding-left: 17px;
    font-size: 18px;
    color: #ADB4BB;
}
input::placeholder{
    color: #ADB4BB;
}
input:focus {
    outline: none;
}
.login-btn{
    width: 200px;
    background-color: #D8E1EA;
    font-size: 18px;
    color: black;
    margin-bottom: 0;
}
.login-btn:hover {
    background-color: #ADB4BB;
}
.finder{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
}
.finder a, .finder .divider{
    text-decoration: none;
    color: #A5A4A4;
    font-size: 16px;
    margin: 0 4px;
}
.finder .divider {
    font-weight: normal; /* '|' 문자 두께 조절 */
}

.error-message {
    color: red;
}