.section4{
    background-color: #6DAFAD;
    position: relative;
}
.last{
    display: flex;
    color: white;
    font-family: 'Pretendard-Regular';
}
.notice{
    font-family: 'LeferiPoint-SpecialItalicA';
    text-align: center;
    font-size: 40px;
    padding: 300px;
}
.footer4{
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    left: 0; /* 왼쪽에서 시작 */
    right: 0; /* 오른쪽까지 확장 */
    color: white;
    text-align: center;
}