@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'KCCChassam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    min-width: 1000px;
    margin: 0;
    background-color: #D8E1EA;
    font-family: 'Pretendard-Regular';
}
nav {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 1em 2em;
    background-color: white;
}
.logo {
    margin: auto;
    font-family: 'KCCChassam';
    font-weight: bold;
    font-size: 1.5em;
}
.content-box{
    display: flex;
    flex-direction: column;
    width: 442px;
    height: 700px;
    background-color: white;
    border-radius: 15px;
    margin: auto;
    margin-top: 100px;
}
.title{
    margin: 30px auto 30px auto;
    font-size: 1.8em;
}
.content-box{
    display: flex;
    flex-direction: column;
    width: 80%; /* content-box의 폭을 80%로 설정 */
    max-width: 500px; /* 최대 폭을 500px로 제한 */
    height: auto; /* 높이를 자동으로 조정 */
    background-color: white;
    border-radius: 15px;
    margin: 100px auto;
    padding: 20px; /* 내부 여백 추가 */
}

.content-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%; /* form의 폭을 100%로 설정 */
}

input{
    width: 100%; /* input 요소의 폭을 부모 요소에 대한 백분율로 설정 */
    max-width: 300px; /* 최대 폭을 300px로 제한 */
    height: 49px;
    border-radius: 10px;
    background-color: #F1F4F7;
    border-style: none;
    margin-bottom: 20px;
    box-sizing: border-box; /* 내부 여백, 테두리 크기를 요소의 폭과 높이에 포함 */
}

input[type="name"], input[type="text"],
input[type="email"], input[type="password"], input[type="tel"] {
    padding-left: 17px;
    font-size: 18px;
    color: #ADB4BB;
}

input::placeholder{
    color: #ADB4BB;
}

input:focus {
    outline: none;
}

.signup-btn{
    width: 100%;
    max-width: 300px; /* 최대 폭을 300px로 제한 */
    background-color: #D8E1EA;
    font-size: 18px;
    color: black;
    margin-bottom: 70px;
}

.error-message {
    color: red;
}